*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    font-family: "Nexa",sans-serif;
    font-size: 20px;
    color: #5a5a5a;
    background: #ffffff;
    text-rendering: optimizeLegibility;
}


header{
    background-image: linear-gradient(45deg,rgb(2,33,64,0.8) 45%,rgb(45,95,93,0.85)), url("../images/background4.jpeg");  /* .. là để đi ra khỏi thư mục chứa nó, đi vào resources/img*/
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.logoImg{
   width: 350px;
   height: 250px;
   float: left;
   margin-top: -40px;
   margin-left: 100px;
   margin-right: -360px;
}

.row{
    width: 1140px;
    margin-left: 150px;
    margin-top: -50px;
    height: 300px;
    margin-bottom: -10;
}
.row h1{
    color: white;
    font-weight: 500;
    font-size: 65;
}

.main-navigator{
    float: right;
    list-style: none;
    margin-right: 55px;
    margin-top: 50px;
   
}

.main-navigator li{
    display: inline-block;
    margin-right: 20px;

}

.main-navigator li a{
    text-decoration: none;
    color: white;
    font-size: 110%;
    font-weight: 500;
}

.main-navigator li a:active,
.main-navigator li a:hover{
    border-bottom: 2px solid #ccc;
}

.main-heading-text{
    word-spacing: 9px;
}

/* ******************************************** */
/************** REUSABLE COMPONENTS *********** */
/* ******************************************** */
.button{
   
    margin-left: 10px;
    background-color:coral;
    color: white;
    text-decoration: none;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 15px;
    font-size: 20;
    position: relative;
    top: 30;
    display: inline-block;
}

.button:hover,
.button:active{
    background-color:burlywood;
    color: black;
}

h1,h2,h3{
    text-transform: uppercase;
    letter-spacing: 1px;

}

h2{
    margin-right: 140px;
    text-align: center;
    color: chocolate;
    font-size: 180%;
    font-weight: 700;
}

h3{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #1e4258;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

h2::after{
    content: " ";
    display: block;
    width: 150px;
    height: 3px;
    background-color: rgb(255, 112, 68,0.7);
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 20px;
}

.p-long{
    margin-top: 40px;
    text-align: center;
    color: rgb(38,80,119);
    font-weight: 500;
    width: 80%;
    margin-left: 4.5%;
}

section{
    padding-top: 120px;
}

/********************************************** */
/********************************************** */

.rowSec{
    margin-top: 30px;
    position: relative;
    bottom: 150;
}

.about-picture{
    margin-top: 55px;
    position: relative;
    margin-bottom: -100px;
}

.about-picture img{
    width: 90%;
    border-radius: 20px;
    border: 4px solid #b8cad4;
    box-shadow: 0px 5px 15px 5px;
    transition: all .7s;
   /* filter: brightness(60%) blur(1px);*/
}

.picture-title{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%,150%);
    transition: all .7s;
    opacity: 0;
}

.about-picture:hover .picture-title,
.about-picture:active .picture-title{
    transform: translate(-65%,-50%);
    opacity: 1;
}

.about-picture:hover img,
.about-picture:active img{
    filter: brightness(60%) blur(1px);
}

/************************************************************************* */
/**************************** PRODUCTS SECTION *************************** */
/************************************************************************* */
.product-section .rowSec{  
    margin-top: -70px;
}

.product-section{
    background-color: #f0f0f0;
}

.product-box{
    margin-top: 70px;
    position: relative;
    background-color: rgb(138, 156, 168);
    height: 280px;
    border-radius: 20px;
}

.product-box .button{
    position: absolute;
    left: 33%;
    top: 80%;
}

.product-box ul li{
   margin-top: 15px;
   margin-bottom: 12px;
   margin-left: 30px;
    color: white;
}

.product-price{
    font-size: 40px;
    margin-top: 8px;
    text-align: center;
    color: rgb(0, 15, 102);
}

.product-price span{
    font-size: 80%;
}
  
.product-section .row{
    position: relative;
}
.product-section .row h2{
    margin-top: 30px;
    position: absolute;
    top: 20px;
    left: 400px;
}
